body {
    @import url('https://fonts.googleapis.com/css?family=Anton|Bungee');
    font-family: 'Anton', sans-serif;
}
/* Стиль для секции nav */
nav {
    background-color: #1aa4ff;
}
/* убирает маркеры */
nav ul {
    list-style-type: none;
}
/* отображает список в линию */
nav li {
    display: inline;
}
/* стиль для ссылок */
.menu li a {
    padding: 11px 16px;
    text-decoration: none;
    color: white;
    line-height: 38px;
}
/* стиль при наведении мыши */
.menu li a:hover {
    background-color: #eee;
    color: #9faabc;
}
/* обнуляет отступы */
.menu {
    padding: 0;
}
/* Показывает скрытое меню */
ul.menu > li:hover > ul.submenu {
    display: inherit;
}
/* Стиль для выпадающего меню */
.submenu {
    display: none;
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: #eee;
}
/* Стиль для ссылок в выпадающем меню */
.submenu li a {
    color: #9faabc;
    font-size: 12px;
    padding: 15px;
}
/* Стиль для ссылок при наведении в выпадающем меню */
.submenu li a:hover {
    background-color: #1aa4ff;
    color: white;
}