body {
    margin: 0;
    padding: 0;
}

nav {
    font-family: Oswald, sans-serif;
    letter-spacing: -0.015em;
    width: 636px;
    margin: 40px auto;
    padding: 40px;
    background-color: #FBFAFA;
}

nav ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #983ED1;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 8px 12px;
}

.pager_active a {
    background-color: #983ED1;
    color: white; 
    border: 1px solid #7619b4;
}

.pager-interval {
    color: #555;
    vertical-align: bottom;
    padding: 0 3px;
}

nav ul li:hover > a {
    background-color: #983ED1;
    color: white;
}

.pager_prefix a, .pager_suffix a {
    background-color: #FBFAFA;
    border: 1px solid #FBFAFA;
}

.pager_prefix a:before {
    content: '\00ab';
    margin-right: 3px;

}

.pager_suffix a:after {
    content: '\00bb';
    margin-left: 3px;

}