body {
    margin: 0;
    padding: 0;
    background-color: #EBE8E3;
}

nav {
    font-family: Helvetica, sans-serif;
    background-color: white;
    width: 90%;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.555);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #B3B2B2;
    line-height: 56px;
    padding: 0 12px;
}

nav .garet {
    border-top: 4px solid #555;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

nav ul li:hover {
    background-color: #282C2F;
}

nav ul li:hover a {
    color: white;
}

nav ul li:hover a .garet {
    border-top-color: white;
}

nav .subMenu {
    display: none;
}

nav ul li:hover .subMenu {
    display: block;
    position: absolute;
    background-color: #282C2F;
    width: 165px;
}

nav .subMenu li {
    display: block;
}

nav .subMenu li a {
    display: block;
}

nav .subMenu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}