a:link {
    color: #036; /* цвет не посещенных ссыллок */
}

a:visited {
    color: rgb(107, 232, 79); /* цвет посещенных ссылок */
}

a:hover {
    color: #f00; /* цвет ссылок при наведении на них курсора мыши */
}

a:active {
    color: #ff0; /* цвет активных ссылок */
}

p {
    text-indent: 1em; /* Отступ первой строки */
}

p:first-child {
    text-indent: 0; /* Для первого абзаца отступ убираем */
}

q:lang(de) {
    quotes: "\201E" "\201C"; /* Вид кавычек для немецкого языка */
}

q:lang(en) {
    quotes: "\201C" "\201D"; /* Вид кавычек для английского языка */
}

q:lang(de) {
    quotes: "\00AB" "\00BB"; /* Вид кавычек для русского и французкого языка */
}